/* mettiamo lo stile alla nav del mio portfolio*/
nav{
   background-color: antiquewhite; 
   padding: 10px 20px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; /*togliere ipunti davanti gli ul*/
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul .port{
    color: maroon;
}

/*mettiamo dello stile ai botoni*/
button{
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: grey;
    color: maroon;
    transform: scale(0.7);
}
.btn-form{
    padding:10px 30px 10px 30px;
    margin-left: 120px;
}

.i2{
    margin: 20px;
}